# Завдання №1 "Створення DataFrame"

## Завдання №1.1

In [1]:
import pandas as pd
import numpy as np

In [2]:
prime_numbers = [3, 6, 7, 8, 11, 12, 15, 20, 25, 33]

df1_1 = pd.DataFrame(prime_numbers, columns=['Прості числа'])
print(df1_1)

   Прості числа
0             3
1             6
2             7
3             8
4            11
5            12
6            15
7            20
8            25
9            33

## Завдання №1.2

In [3]:
random_array = np.random.rand(5, 6)
df1_2 = pd.DataFrame(random_array)
print(df1_2)

          0         1         2         3         4         5
0  0.876467  0.565318  0.528655  0.096279  0.763918  0.235798
1  0.978633  0.714758  0.320043  0.472009  0.373729  0.029432
2  0.123279  0.701802  0.432807  0.727084  0.716797  0.204451
3  0.016014  0.398777  0.295240  0.088414  0.667458  0.860449
4  0.132885  0.572105  0.500791  0.318665  0.473735  0.439848

## Завдання №1.3

In [4]:
data = {
    'ім\'я': ['Петро', 'Іван', 'Степан'],
    'прізвище': ['Петров', 'Іванов', 'Степанов'],
    'рік народження': [2000, 2002, 2001],
    'телефон': ['222-222-2222', '333-333-3333', '444-444-4444']
}

df = pd.DataFrame(data)
print(df)

     ім'я  прізвище  рік народження       телефон
0   Петро    Петров            2000  222-222-2222
1    Іван    Іванов            2002  333-333-3333
2  Степан  Степанов            2001  444-444-4444

## Завдання №1.4


Завдання не можна виконати, бо посилання (https://file-examples-com.github.io/uploads/2017/02/file_example_XLS_100.xls) не працює.

# Завдання №2 "Інспектування DataFrame"

## Завдання №2.1

In [5]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic = pd.read_csv(url)

In [6]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)
print(titanic_df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

## Завдання №2.2

In [7]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

age_stats = titanic_df['Age'].describe()
fare_stats = titanic_df['Fare'].describe()

print("Статистика по Age:")
print(age_stats)

print("\nСтатистика по Fare:")
print(fare_stats)

Статистика по Age:
count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

Статистика по Fare:
count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

## Завдання №2.3

In [8]:

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

complete_rows = titanic_df.dropna()
num_complete_rows = len(complete_rows)
print("Кількість рядків, де заповнені усі показники:", num_complete_rows)

Кількість рядків, де заповнені усі показники: 183

## Завдання №2.4

In [9]:

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

print("Кількість виживших пасажирів жіночої статі:", titanic_df.groupby(['Survived', 'Sex']).size().loc[1,'female'])

Кількість виживших пасажирів жіночої статі: 233

# Завдання №3 "Перетворення датафреймів"

## Завдання №3.1

In [10]:
d = {
    "ім'я"    : ["Петя", "Вася", "Галя"],
    "вік"     : [22, 200 , 21],
    "рейтинг" : ["10", "3", "2"]
}

df = pd.DataFrame(d)
print(df)

   ім'я  вік рейтинг
0  Петя   22      10
1  Вася  200       3
2  Галя   21       2

## Завдання №3.2

In [11]:

d = {
    "ім'я"    : ["Петя", "Вася", "Галя"],
    "вік"     : [22, 200 , 21],
    "рейтинг" : ["10", "3", "2"]
}
df = pd.DataFrame(d)

df['рік завершення школи'] = [2018, 2020, 200]

print(df)

   ім'я  вік рейтинг  рік завершення школи
0  Петя   22      10                  2018
1  Вася  200       3                  2020
2  Галя   21       2                   200

## Завдання №3.3

In [12]:
df.at[2, 'рік завершення школи'] = 2020
print(df)

   ім'я  вік рейтинг  рік завершення школи
0  Петя   22      10                  2018
1  Вася  200       3                  2020
2  Галя   21       2                  2020

## Завдання №3.4

In [13]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

print(titanic.tail(10))

     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

## Завдання №3.5

In [14]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

titanic_df.loc[(titanic_df['Sex'] == 'male') & 
               (titanic_df['Age'] >= 20) & 
               (titanic_df['Age'] <= 30) & 
               (titanic_df['Pclass'] == 2)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.0,0,0,S.O.C. 14879,73.5000,NaN,S
117,118,0,2,"Turpin, Mr. William John Robert",male,29.0,1,0,11668,21.0000,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",male,23.0,0,0,SC/PARIS 2133,15.0458,NaN,C
178,179,0,2,"Hale, Mr. Reginald",male,30.0,0,0,250653,13.0000,NaN,S
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.0,0,0,250646,13.0000,NaN,S
219,220,0,2,"Harris, Mr. Walter",male,30.0,0,0,W/C 14208,10.5000,NaN,S
221,222,0,2,"Bracken, Mr. James H",male,27.0,0,0,220367,13.0000,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.0,0,0,C.A. 29566,10.5000,NaN,S
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.0,0,0,W./C. 14263,10.5000,NaN,S
308,309,0,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,NaN,C
342,343,0,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25.0,0,0,244361,13.0000,NaN,S
361,362,0,2,"del Carlo, Mr. Sebastiano",male,29.0,1,0,SC/PARIS 2167,27.7208,NaN,C
398,399,0,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S
418,419,0,2,"Matthews, Mr. William John",male,30.0,0,0,28228,13.0000,NaN,S
529,530,0,2,"Hocking, Mr. Richard George",male,23.0,2,1,29104,11.5000,NaN,S
551,552,0,2,"Sharp, Mr. Percival James R",male,27.0,0,0,244358,26.0000,NaN,S
562,563,0,2,"Norman, Mr. Robert Douglas",male,28.0,0,0,218629,13.5000,NaN,S
619,620,0,2,"Gavey, Mr. Lawrence",male,26.0,0,0,31028,10.5000,NaN,S
655,656,0,2,"Hickman, Mr. Leonard Mark",male,24.0,2,0,S.O.C. 14879,73.5000,NaN,S
658,659,0,2,"Eitemiller, Mr. George Floyd",male,23.0,0,0,29751,13.0000,NaN,S
666,667,0,2,"Butler, Mr. Reginald Fenton",male,25.0,0,0,234686,13.0000,NaN,S
685,686,0,2,"Laroche, Mr. Joseph Philippe Lemercier",male,25.0,1,2,SC/Paris 2123,41.5792,NaN,C
728,729,0,2,"Bryhl, Mr. Kurt Arnold Gottfrid",male,25.0,1,0,236853,26.0000,NaN,S
733,734,0,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S
734,735,0,2,"Troupiansky, Mr. Moses Aaron",male,23.0,0,0,233639,13.0000,NaN,S
848,849,0,2,"Harper, Rev. John",male,28.0,0,1,248727,33.0000,NaN,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S

## Завдання №3.6

In [15]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

print(titanic_df.dropna(subset=['Fare'], inplace=True))

None

## Завдання №3.7

In [16]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

avg_price = titanic_df.loc[titanic_df['Pclass'] == 1, 'Fare'].mean()
print("Середня вартість квитка у каютах 1-го класу:", avg_price)

Середня вартість квитка у каютах 1-го класу: 84.1546875

# Завдання №4 "Агрегація датафреймів"

## Завдання №4.1

In [17]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

max_age = titanic_df.groupby('Sex')['Age'].max()
print(max_age)

Sex
female    63.0
male      80.0
Name: Age, dtype: float64

## Завдання №4.2

In [19]:

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_df = pd.read_csv(url)

surv_table = titanic_df.pivot_table(index='Pclass', columns='Sex', values='Survived', aggfunc='sum')
surv_table.columns = ['Female', 'Male']
surv_table.index.name = 'Pclass'
print(surv_table)

        Female  Male
Pclass
1           91    45
2           70    17
3           72    47