# Завдання №1

## Завдання №1 "Конструкції Python"

In [1]:
x = 12
y = -45.4215
s = "Катя"
a = [x, y, s]
b = True
t = (y, "Студент")

print("Тип змінної x:", type(x))
print("Тип змінної y:", type(y))
print("Тип змінної s:", type(s))
print("Тип змінної a:", type(a))
print("Тип змінної b:", type(b))
print("Тип змінної t:", type(t))

Тип змінної x: <class 'int'>
Тип змінної y: <class 'float'>
Тип змінної s: <class 'str'>
Тип змінної a: <class 'list'>
Тип змінної b: <class 'bool'>
Тип змінної t: <class 'tuple'>

In [2]:
print (x+y)
print (x-y)
print (x/y)
print (x%y)
print (x*y)
print (x//y)
print (x**y)

-33.4215
57.4215
-0.2641920676331693
-33.4215
-545.058
-1.0
9.593322239278223e-50

In [3]:
print (x==y)
print (x!=y)
print (x<y)
print (x>y)
print (x<=y)
print (x>=y)

False
True
False
True
False
True

In [4]:
print (str(x))
print (str(t))
print (int(x))
#print (int(s)) помилка (str у int не перетворюється) 
print (float(x))
print (float(y))

12
(-45.4215, 'Студент')
12
12.0
-45.4215

## Завдання №3 "Введення/вивід з консолі"

In [5]:
e = float(input("Введіть число: "))

Введіть число: 445

In [6]:
e = 2.71
epower = e ** 5
print("e в 5 степені =", epower)

e в 5 степені = 146.1660310351

In [7]:
name = "Катерина"
surname = "Мінеско"
print (name, surname)
print("1+1", 2, sep=" = ")

Катерина Мінеско
1+1 = 2

В функції print() кома використовується для розділення різних значень, що виводяться в окремих рядках. Аргумент sep дозволяє налаштувати роздільник між цими значеннями.

In [8]:
print("{} {} - це студент".format(name, surname))
print("Результат буде = {}".format(42 / 5 + 4))
b = True
print("{} - {} дівчина!".format(name, b))
print("{} {}".format(surname, name))

Катерина Мінеско - це студент
Результат буде = 12.4
Катерина - True дівчина!
Мінеско Катерина

## Завдання №4 "Керування обчисленнями"

In [11]:
x = float(input("Введи x: "))

# ----- 1 ----------
if x > 5:
    print (x)
    
# ----- 2 ----------    
if -5 < x < 5 :
    print (x)
else:
    print (x ** 2)
    
# ----- 3 ----------
if x > -5:
    print (x)
elif -5 < x < 5:
    print (x ** 2)
elif x > 5:
    print (x ** (1/2))

Введи x: 85
85.0
7225.0
85.0

x = -20 (працює друге завдання з else);
x = 31.5 (працюють всі завдання з if);
x = 4 (працюють 2 останні завдання з if);

In [12]:
age = int(input("Введіть вік: "))

if age >= 17:
    print("студент")
elif age >= 6:
    print("школяр")
else:
    print("малятко")

Введіть вік: 45
студент

Цей код створює цикл for по діапазону від 0 до 9; перевіряє, чи число "i" не є парним за допомогою операції модуля %; виводить на консоль від'ємного числа "-i", якщо "i" не є парним; виконує порожній блок коду за допомогою оператора pass, якщо "i" є парним; продовжує цикл до останнього елементу та повторює вказані дії.

In [13]:
total = 0

for i in range(10, 101):
    if i % 3 == 0:
        total += i

print(total)

1665

In [14]:
while(input("натисніть тут: ") != '0'):
    print ("було введено")

натисніть тут: 4
було введено
натисніть тут: 5
було введено
натисніть тут: 5
було введено
натисніть тут: 5
було введено
натисніть тут: 0

Цей код запускає цикл while, який буде виконуватись, доки користувач не введе число 0 з клавіатури.

In [22]:
i = 10
total = 0

while i <= 100:
    if i % 3 == 0:
        total += i
    i += 1

print(total)

1665

# Завдання №2

## Завдання №1 "Операції над списками"

In [23]:
i_am = []
i_am.append('Катя')
print(id(i_am))

2667036557696

In [17]:
i_am.append('Мінеско')
print(i_am, id(i_am))

['Катя', 'Мінеско'] 2667036550848

## Завдання №2 "Індексація в списках"

In [25]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
print(my_list[:5])

[1, 2, 3, 4, 5]

In [27]:
print(my_list[-6:])

[5, 6, 7, 8, 9, 10]

In [28]:
for i in my_list:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

## Завдання №3 "Вкладені списки"

In [29]:
list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [30]:
list[1][0] = 42
print(list)

[[1, 2, 3], [42, 5, 6], [7, 8, 9]]

In [31]:
list[0][2], list[1][1] = list[1][1], list[0][2]
print(list)

[[1, 2, 5], [42, 3, 6], [7, 8, 9]]

# Завдання №3

## Завдання №1

In [32]:
file = open('my_file.txt', 'w+')
for i in range(1, 11):
    file.write(f"{i}-й рядок\n")
file.close()

## Завдання №2

In [33]:
file = open('my_file.txt', 'r')
for i in range(5):
        print(file.readline().strip())
file.close()

1-й рядок
2-й рядок
3-й рядок
4-й рядок
5-й рядок

## Завдання №3

In [34]:
with open('my_file.txt', 'r') as file:
    for i in range(5):
        print(file.readline().strip())

1-й рядок
2-й рядок
3-й рядок
4-й рядок
5-й рядок